@charset "UTF-8";
html, body {
  font-size: 10px;
  line-height: normal;
  margin: 0;
  padding: 0;
  height: 100%; }

*, p {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: blue;
  text-transform: capitalize;
  cursor: pointer !important;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

img {
  border: none;
  display: block; }

input:focus {
  outline: 0; }

textarea:focus {
  outline: 0; }

* {
  outline: 0 !important; }

input::-moz-focus-inner {
  outline: 0 !important; }

textarea::-moz-focus-inner {
  outline: 0 !important; }

.fixed {
  position: fixed; }

select {
  border: none;
  outline: none; }

option {
  border: none;
  outline: none; }

*:not(input[type="text"]) {
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.temph100 {
  height: 100%; }

.portrait_mode {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

[class^="ticon"], [class*=" ticon"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

body > div.ui-page {
  height: 100%; }

.ui-loader {
  display: none !important; }

.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  overflow: hidden; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body{ font-family: 'Lato', sans-serif; font-size: 10px; font-weight: 300; }
.previewMain{ min-width: 1024px; }
.previewCenter{ }
.previewPage{ }

.bigBtn{ width: 430px; border:1.5px solid #1077b5; background: #1d89ca; color: #ffffff; font-size: 2.8em; line-height: 1; letter-spacing: 2.5px; text-transform: uppercase; padding: 28px; display: inline-block; float: left; text-align: center; font-weight: 700; cursor: pointer; position: relative; }
.bigBtn:active{ background: #0672b2; }
.bigBtn .center{ margin:0 auto; display:inline-block; text-align: center; }
.bigBtn .center .txt{ display: inline-block; font-weight: 700; float:left; }
.bigBtn .center .arrow{ display: inline-block; width:24px; height:24px; background: url(../img/btn-arw-rt.png) center no-repeat; background-size: 100% auto; float: left; margin: 3px 0 0 10px; }
.btnSml{ width: 280px; border:0px solid #1077b5; background: #2caad7; color: #ffffff; font-size: 2.2em; line-height: 1; letter-spacing: 2.5px; text-transform: uppercase; padding: 26px; display: inline-block; float: left; text-align: center; font-weight: 700; cursor: pointer; position: relative; }
.btnSml .center{ display: inline-block; }
.btnSml .center .txt{ display: inline-block; margin: 2px 16px 0 0; font-weight: 700; float: left; }
.btnSml .center .arw{ display: inline-block; width:24px; height:24px; background: url(../img/btn-arw-rt.png) center no-repeat; background-size: 100% auto; }
.btnSml.back{ background: #bec4c6; }
.btnSml.back:active{ background: #b4babc; }
.btnSml.next{ background: #2caad7; }
.btnSml.next:active{ background: #299dc6; }
.btnSml.back .center .txt{ float: right; margin: 2px 0 0 16px; }
.btnSml.back .center .arw{ background-image: url(../img/btn-arw-lt.png); }
.btnSml.next .center .arw{ }
.btnSml.result{ background: #6fd795; }
.btnSml.result:active{ background: #23d7a9; }
.btnSml.result .center .txt{ margin-right: 0; }
.btnSml.result .center .arw{ display: none; }
.logoSmall{ display: inline-block; float: left; background: #ffffff; text-align: center; padding: 20px 22px; }
.logoSmall img{ width: 98px; height: auto; margin:0 auto; }
.logoSmall .logoText{ text-align: center; font-size: 3.2em; line-height: 1; /*color: #06324c;*/ color: #1d89ca; text-transform: capitalize; letter-spacing: 1px; font-weight: 300; margin: 14px 0 0 0; }

.landingPage{ background: url(../img/main1-bg2.jpg) center bottom no-repeat; background-size: cover; width: 100%; position: relative; min-height: 100vh; display: inline-block; float: left; }
.landingPage .modelPic{ position: absolute; left: 0; bottom: 0; }
.landingPage .modelPic img{ width: 100%; max-width: 580px; }
.landingPage .landingModel{ }
.landingPage .inPage{ }
.landingPage .inPage .centerPage{ margin: 120px 12% 0 32%; }
.landingPage .landingInfoPage{ text-align: center; }
.landingPage .logoAll{ text-align: center; margin: 0 auto; clear: both; }
.landingPage .logoAll img{ width: 286px; height: auto; font-weight: 300; margin:0 auto; }
.landingPage .logoAll .logoText{ text-align: center; font-size: 9.6em; line-height: 1; /*color: #06324c;*/ color: #1d89ca; text-transform: capitalize; letter-spacing: 1px; font-weight: 300; margin: 30px 0 20px 0; }
.landingPage .logoAll .logoText span{ color: #1d89ca; font-weight: 300; }
.landingPage .bigLogo{ clear: both; }
.landingPage .infoInitiator{ clear: both; margin:0 auto; color: #2e5871; padding: 0 120px; }
.landingPage .infoInitiator p{ font-size: 2.4em; line-height:1.3; color: #2e5871; font-weight: 500; }
.landingPage .startNow{ clear: both; margin:60px auto; float: none; }

.questionnairePage{ background: url(../img/main2-bg2.jpg) center bottom no-repeat; background-size: cover; width: 100%; position: relative; min-height: 100vh; display: inline-block; float: left; }
.stepsAllPage{ }
.stepPage{ }
.stepPage .modelPic{ position: absolute; left: 0; bottom: 0; }
.stepPage .modelPic img{ width: 100%; max-width: 580px; }
.stepPage .stepModel{ z-index: 9; }
.stepPage .inPage{ position: relative; z-index: 10; }
.stepPage .inPage .centerPage{ }
.stepPage .stepInfoPage{ display: inline-block; float: left; width: 100%; }
.stepPage .stepHead{ position: relative;z-index: 10; display: inline-block; float: left; width: 100%; border-bottom:1px solid #aecce4; background: #ffffff; }
.stepPage .stepHead .logoSmall{ width: 290px; }
.stepPage .stepHead .stepQuestion{ background: #0fa1d4 url(../img/main-sub1-bg2.jpg) left top no-repeat; width: 100%; width: 80%; width: calc(100% - 290px); float: right; height: 120px; padding: 42px 65px 42px; padding: 10px 60px 16px 55px; display: table; }
.stepPage .stepHead .stepQuestion .vMiddle{ display: table-cell; vertical-align: middle; }
.stepPage .stepHead .stepQuestion p{ font-size: 3.5em; line-height: 1.2; color: #ffffff; display: inline-block; float: left; font-weight: 500; }
.stepPage .stepHead .stepQuestion p.qText{ width: calc(100% - 120px); }
.stepPage .stepHead .stepQuestion .count{ padding: 0 30px 0 0; margin:0 0 0 0; }
.stepPage .stepHead .stepQuestion .divLine{ border-right: 1px solid #ffffff;  line-height: 1; height: 26px; display: inline-block; margin: 0px 0 0 22px; }
.stepPage .stepBody{ padding: 0 12% 0 32%; display: inline-block; float: left; width: 100%; min-height: 380px; }
.stepPage .stepAnswerList{ }
.stepPage .stepAnswerList ul.list{ width: 100%; max-width: 560px; display: inline-block; float: left; margin:20px 0 0 0; }
.stepPage .stepAnswerList ul.list li{ border-top:1px solid #c7d2da; width: 100%; display: inline-block; float: left; padding: 0; position: relative; padding: 14px 30px; }
.stepPage .stepAnswerList ul.list li:first-child{ border-top:0px solid #c7d2da; }
.stepPage .stepAnswerList ul.list li input[type='checkbox'],
.stepPage .stepAnswerList ul.list li input[type='radio']{ position: absolute; left: 0; top:0; width:100%; height: 100%; z-index: 2; -webkit-appearance: none; -moz-appearance: -moz-mac-vibrancy-light; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; opacity: 0; cursor: pointer; }
.stepPage .stepAnswerList ul.list li input[type='checkbox']:checked,
.stepPage .stepAnswerList ul.list li input[type='radio']:checked{ -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; background: none; }
.stepPage .stepAnswerList ul.list li input::before,
.stepPage .stepAnswerList ul.list li input::before{ position: absolute; right: 0; top: 0; }
.stepPage .stepAnswerList ul.list li input::after,
.stepPage .stepAnswerList ul.list li input::after{ position: absolute; right: 0; top: 0; }
.stepPage .stepAnswerList ul.list li a{ padding: 14px 30px; display: inline-block; float: left; width: 100%; }
.stepPage .stepAnswerList ul.list li:hover0{ background:rgba(255,255,255,0.3); }
.stepPage .stepAnswerList ul.list li p{ font-size: 2.4em; line-height: 1.3; color: #000000; font-weight: 300; display: inline-block; float: right; text-transform: none; width: calc(100% - 44px); text-align: left; }
.stepPage .stepAnswerList ul.list li .btnType{ width: 20px; height: 20px; background-color: #e4e4e4; display: inline-block; float: left; margin: 6px 24px 0 0; }
.stepPage .stepAnswerList ul.list li.chkd .btnType{ background: #1675b4 url(../img/ic-yes.png) center no-repeat; background-size: 11px auto; }
.stepPage .stepFoot{ padding: 50px 12% 40px 32%; display: inline-block; float: left; width: 100%; }
.stepPage .btnList{ display: inline-block; float: left; width: 560px; position: relative; }
.stepPage .btnList .err{ position: absolute; left: 0; top: -48px; font-size: 1.7em; color: #1473C1; background: #FEF4B1; padding:12px 30px 11px; width: 100%; text-align: center; font-weight: 500; }
.stepPage .stepAnswerList ul.list li input[type='checkbox']:checked + .btnType,
.stepPage .stepAnswerList ul.list li input[type='radio']:checked + .btnType{ background: #1675b4 url(../img/ic-yes.png) center no-repeat; background-size: 11px auto; }
.stepPage .stepAnswerList ul.list li input[type='checkbox']:checked + .btnType.radio{ background-image: none; }
.stepPage .stepAnswerList ul.list li input[type='checkbox']:checked + .btnType.radio i{ width: 10px; height: 10px; background: #fff; display: inline-block; float: left; position: relative; left: 5px; top: 5px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; }
.stepPage .stepAnswerList ul.list li .btnType.radio{ -webkit-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; }

.resultPage{ background: url(../img/main3-bg2.jpg) center bottom no-repeat; background-size: cover; width: 100%; position: relative; min-height: 100vh; display: inline-block; float: left; }
.resultPage .inPage{ }
.resultPage .resultHead{ position: relative;z-index: 10; display: inline-block; float: left; width: 100%; border-bottom:1px solid #aecce4; }
.resultPage .resultHead .logoSmall{ width: 290px; }
.resultPage .resultHead .resultInfo{ background: #2caad7; width: 100%; width: 80%; width: calc(100% - 290px); float: right; height: 120px; padding: 20px 34px 20px 40px; color: #ffffff; }
.resultPage .resultHead .read{ width: calc(100% - 250px); float: left; }
.resultPage .resultHead .read p{ color: #ffffff; font-size: 1.6em; line-height: 1.3; font-weight: 500; margin: 0 0 8px 0; }
.resultPage .resultHead .read p.sml{ font-size: 1.3em; }
.resultPage .resultHead .btnSml{ background: #0073b8; width: 214px; height: 48px; font-size: 1.8em; padding: 14px 12px; margin: 14px 0 0 0; }
.resultPage .resultHead .btnSml:active{ background: #00639e; }
.resultPage .resultHead .btnSml .center{ }
.resultPage .resultHead .btnSml .txt{ float: right; margin: 0 0 0 12px; }
.resultPage .resultHead .btnSml .arw{ background-image: url(../img/btn-arw-lt.png); width: 18px; height: 18px; }
.resultPage .resultHead .startAgain{ float: right; }
.resultPage .resultHead .startAgain .txt{ margin:0; }
.resultPage .resultHead .startAgain .arw{ display: none; }
.resultPage .resultBody{ clear:both; }
.resultBody{ display: inline-block; float: left; width: 100%; padding: 30px 44px 15px 4%; }
.resultBody .center{ margin: 0 auto; text-align: center; float: none; }
.resultBody .resultProductList{ display: inline-block; margin: 0 auto; }
.dayListAll{ display: inline-block; float: left; width: auto; margin: 0 0 20px 0; clear: both; }
.nightListAll{ display: inline-block; float: left; width: auto; clear: both; }
.categoryInfo{ display: inline-block; float: left; text-align: right; padding: 0 28px 0 0; width: 216px; }
.categoryInfo h2{ color: #2caad7; font-size: 4.1em; line-height: 1; position: relative; padding: 0 35px 0 0; font-weight: 700; display: inline-block; float: right; margin: 0 0 12px 0; }
.categoryInfo h2 img{ position: absolute; right: 0; top:11px; }
.categoryInfo h3{ color: #404e56; font-weight: 700; font-size: 1.6em; line-height: 1.4; clear: both; }
.categoryInfo p{ color: #3a4c55; font-weight: 300; font-size: 1.6em; line-height: 1.4; clear: both; }
.productsAll{ display: inline-block; float: right; max-width: 950px; overflow-x: auto; background: #51d3fd; -webkit-tap-highlight-color: transparent; }
.productsAll .stepList{ min-width: 180px; background: #51d3fd; min-height: 35px; }
.productsAll .stepList li{ width: 180px; display: inline-block; float: left; text-align: center; background: #51d3fd; padding: 8px 10px; position: relative; }
.productsAll .stepList li p{ font-size: 1.4em; line-height: 1.4; color: #ffffff; font-weight: 700; text-align: center; text-transform: uppercase; }
.productsAll .stepList li .arwSml{ width: 0; height: 0; border-top: 18px solid transparent; border-bottom: 18px solid transparent; border-left: 10px solid #51d3fd; position: absolute; right: -10px; top:0; z-index: 10; }
.productsAll .stepList li:nth-child(1){ background: #51d3fd; }
.productsAll .stepList li:nth-child(1) p::after{ content: '1'}
.productsAll .stepList li:nth-child(2){ background: #47c3fd; }
.productsAll .stepList li:nth-child(2) p::after{ content: '2'}
.productsAll .stepList li:nth-child(3){ background: #3cb4fd; }
.productsAll .stepList li:nth-child(3) p::after{ content: '3'}
.productsAll .stepList li:nth-child(4){ background: #31a3fc; }
.productsAll .stepList li:nth-child(4) p::after{ content: '4'}
.productsAll .stepList li:nth-child(5){ background: #1d94dc; }
.productsAll .stepList li:nth-child(5) p::after{ content: '5'}
.productsAll .stepList li:last-child{ overflow: hidden; }
.productsAll .stepList li:nth-child(1) .arwSml{ border-left-color: #51d3fd; }
.productsAll .stepList li:nth-child(2) .arwSml{ border-left-color: #47c3fd; }
.productsAll .stepList li:nth-child(3) .arwSml{ border-left-color: #3cb4fd; }
.productsAll .stepList li:nth-child(4) .arwSml{ border-left-color: #31a3fc; }
.productsAll .stepList li:nth-child(5) .arwSml{ border-left-color: #1d94dc; }
.productsAll .productList{ display: table; background: #ffffff; min-width: 190px; background: #ffffff; min-height: 150px; table-layout: fixed; z-index: 10; position: relative; }
.productsAll .productList li{ width: 180px; min-width: 180px; display: inline-block; float: none; text-align: center; background: #ffffff; display: table-cell; cursor:pointer; -webkit-tap-highlight-color: transparent; }
.productsAll .productList li .stepInfo{ display: none; }
.productsAll .productList li .productImg{ height: 120px; position: relative; }
.productsAll .productList li .productImg img{ max-width:120px; max-height: 120px; height: 100%; width: auto; margin:0 auto; }
.productsAll .productList li .productImg p.noProduct{ color: rgba(58, 76, 85, 0.85); font-size: 1.5em; line-height: 1.4; font-weight: 500; padding: 10px 12px;position: absolute; left: 10%; top:25px; width: 80%;  text-transform: capitalize; }
.productsAll .productList li .productName{ }
.productsAll .productList li .productName p{ color: #5c8ca8; font-size: 1.4em; line-height: 1.3; font-weight: 500; padding: 10px 12px; }
.productsAll .productList li:nth-child(1) .stepInfo p::after{ content: '1'}
.productsAll .productList li:nth-child(2) .stepInfo p::after{ content: '2'}
.productsAll .productList li:nth-child(3) .stepInfo p::after{ content: '3'}
.productsAll .productList li:nth-child(4) .stepInfo p::after{ content: '4'}
.productsAll .productList li:nth-child(5) .stepInfo p::after{ content: '5'}
.resultBody .tnc{ font-size: 1.4em; line-height: 1.3; color: #53636a; float: right; margin: 15px 0 0 0; clear: both; }
.overlayPage{ position: fixed; left:0; top:0; width: 100%; height: 100vh; z-index: 100; }
.transBg{ width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: absolute;left:0; top:0; z-index: 9; }
.productSlider{ position: relative; z-index: 10; max-width: 980px; margin:0 auto; height: 100%; display: inline-block; float: left; width: 100%; max-width: 100%; }
.sliderList{ background:#ffffff; position: relative; max-width: 980px; min-width: 980px; width: 100%; margin: 16vh auto; height: 70%; }
.sliderList .close{ width:40px; height: 40px; background: url(../img/ic-close.png) center no-repeat; background-size: 34px auto; text-indent: -9999px; display: inline-block; float: left; position: absolute; right: 38px; top: 30px; z-index: 10; cursor: pointer; }
.sliderList .bgViewControl{ width: calc(100% - 350px); background: #f5f5f5; position: absolute; right: 0; top: 0; height: 100%; z-index: 1; }
.sliderList ul{ height: 100%; overflow-y:auto; }
.sliderList li.slide{ }
.sliderList .slideHolder{ display: table; height: 100%; width:100%; }
.sliderList .slideHolder .slideImg{ display: table-cell; float: none; width: 300px; vertical-align: middle; padding: 38px; background: #ffffff; height: 100%; }
.sliderList .slideHolder .slideImg img{ margin:0 auto; }
.sliderList .slideHolder .slideContent{ display: table-cell; float: none; width: calc(100% - 350px); vertical-align: middle; padding: 0 8%; background: #f5f5f5; height: 100%; }
.sliderList .slideHolder .slideContent h2{ color: #1675b4; font-size: 2.7em; text-transform: uppercase; line-height: 1.3; font-weight: 700; margin:0 0 10px 0; }
.sliderList .slideHolder .slideContent h1{ color: #000000; font-size: 2.7em; font-weight: 700; line-height: 1.3; margin:0 0 30px 0; }
.sliderList .slideHolder .slideContent p{ color: #6e6e6e; font-size: 1.7em; line-height: 1.4; font-weight: 500; }
.day-carousel, .night-carousel{ height: 100%; }

ul[rn-carousel]{ -webkit-tap-highlight-color: transparent; }
ul[rn-carousel] > li{ padding: 0; background: #ffffff; -webkit-tap-highlight-color: transparent; }
ul[rn-carousel] > li:nth-child(1) .slideHolder .slideContent h2::after{ content: '1'; background: #f5f5f5; width: 22px; display: inline-block; margin: 0 0 0 -18px;}
ul[rn-carousel] > li:nth-child(2) .slideHolder .slideContent h2::after{ }
ul[rn-carousel] > li:nth-child(3) .slideHolder .slideContent h2::after{ }
ul[rn-carousel] > li:nth-child(4) .slideHolder .slideContent h2::after{ }
ul[rn-carousel] > li:nth-child(5) .slideHolder .slideContent h2::after{ }

.rn-carousel-controls{ }
.rn-carousel-controls .rn-carousel-control{ width: 100px; height: 310px; background: rgba(0,0,0,0.6) url(../img/arw-sml-lt.png) center no-repeat; background-size: 16px auto; position: fixed; right: 0px; top:30%; text-indent: -9999px; } 
.rn-carousel-controls .rn-carousel-control:active{ background-color: rgba(0,0,0,0.8); }
.rn-carousel-controls .rn-carousel-control-prev{ left: 0px; right: initial; }
.rn-carousel-controls .rn-carousel-control-next{ background-image: url(../img/arw-sml-rt.png); }

ul[rn-carousel] > li{ z-index: 100; height: 100%; }
.sliderList .slideHolder{ height: 100%; }
.overlayPage{ height: 100%; }
