<!-- START of landing page -->
<div class='landingPage' ng-controller='LandingCtrl'>
  <!-- START of model pic -->
  <div class='modelPic landingModel'>
    <img class='model' src='img/hl-model1.png' />
  </div>
  <!-- END of model pic -->
  <!-- START of in page -->
  <div class='inPage'>
    <!-- START of center page -->
    <div class='centerPage'>
      <!-- START of landingInfoPage page -->
      <div class='landingInfoPage'>
        <!-- START of logoAll page -->
        <div class='logoAll bigLogo'>
          <img src='img/hl-logo-big.png' />
          <div class='logoText'><span>Skin</span>-Smart tool</div>
        </div>
        <!-- END of logoAll page -->
        <!-- START of infoInitiator page -->
        <div class='infoInitiator'>
          <p class='info'>Answer these 7 simple questions to find the skincare regime that suits your skin.</p>
        </div>
        <!-- END of infoInitiator page -->
        <!-- START of bigBtn page -->
        <a class='bigBtn startNow' ng-href='#/questions/0'>
          <span class='center'>
            <span class='txt'>Start now</span>
            <span class='arrow'></span>
          </span>
        </a>
        <!-- END of bigBtn page -->
      </div>
      <!-- END of landingInfoPage page -->
    </div>
    <!-- END of center page -->
  </div>
  <!-- END of in page -->
</div>
<!-- END of landing page -->